@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700%7CPT+Sans+Narrow:400,700);
a {
  font-weight: 700; }

img, video {
  max-width: 100%; }

.paragraph-link {
  color: #404041;
  transition: all 0.25s ease-in-out; }
  .paragraph-link:hover, .paragraph-link:active, .paragraph-link:link, .paragraph-link:focus, .paragraph-link:active:focus {
    color: #19191a; }

.btn:focus {
  outline-color: transparent;
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans Narrow", sans-serif; }

p {
  font-family: "Open Sans Condensed", sans-serif; }

section {
  padding-top: 60px;
  padding-bottom: 60px; }

.container-fluid {
  padding-left: 0;
  padding-right: 0; }

.navbar {
  margin-bottom: 0;
  font-family: "PT Sans Narrow", sans-serif;
  text-transform: uppercase; }

.navbar-black {
  background-color: #404041; }

.navbar-default {
  border: none; }

.navbar-default .navbar-collapse {
  border: none;
  position: relative; }

.navbar-brand {
  height: 90px; }

.navbar-default .navbar-nav > li > a {
  color: #f1f2f2;
  transition: all 0.25s ease-in-out;
  position: relative; }
  .navbar-default .navbar-nav > li > a:hover {
    color: #f1f2f2; }
    .navbar-default .navbar-nav > li > a:hover:after {
      content: "";
      border-bottom: 4px solid #f1f2f2;
      position: absolute;
      bottom: 0;
      left: 0;
      margin-left: 15px;
      right: 15px; }

.navbar-text {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 15px; }

.navbar-default .navbar-text {
  background: #2e7dc1; }

.navbar-default .navbar-link {
  color: #f1f2f2; }

.logo {
  width: 60px; }

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  align-items: center; }

#search-icon, #reset-icon {
  width: 20px;
  fill: #d1d3d4; }

.search-btn {
  background-color: #404041;
  border: #404041;
  border-radius: 0;
  height: 50px;
  margin-right: -15px;
  margin-top: -8px;
  margin-bottom: -8px;
  transition: all 0.25s ease-in-out; }
  .search-btn:hover, .search-btn:active, .search-btn:focus, .search-btn:active:focus {
    background-color: #59595a;
    transition: all 0.25s ease-in-out; }

.search-btn:hover #search-icon {
  fill: #404041; }

.search-input-show {
  position: absolute;
  right: 0;
  top: 0; }

.search-input {
  height: 50px;
  width: 200px !important;
  border-radius: 0;
  font-size: 18px;
  border: none;
  color: #f1f2f2;
  background-color: #59595a; }

.search-btn-move {
  margin-right: 0;
  position: absolute;
  right: 243px;
  background-color: #59595a; }
  .search-btn-move:hover, .search-btn-move:active, .search-btn-move:focus, .search-btn-move:active:focus {
    background-color: #59595a; }

.search-btn-move:hover #search-icon {
  fill: #f1f2f2; }

.reset-btn {
  background-color: #59595a;
  border: none;
  border-radius: 0;
  height: 50px;
  margin-left: -4px;
  margin-right: 0px;
  margin-top: -8px;
  margin-bottom: -8px;
  transition: all 0.25s ease-in-out; }
  .reset-btn:hover {
    background-color: #59595a;
    transition: all 0.25s ease-in-out; }

.reset-btn:hover #reset-icon {
  fill: #f1f2f2;
  opacity: 1.0; }

footer {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  background-color: #dedede;
  font-family: "Open Sans Condensed", sans-serif;
  color: #7a7765; }

.footer-link {
  color: #7a7765;
  transition: all 0.25s ease-in-out; }
  .footer-link:hover, .footer-link:active, .footer-link:link, .footer-link:focus, .footer-link:active:focus {
    color: #545245; }

.jumbotron {
  padding-top: 0;
  padding-bottom: 0; }

.slick-dots {
  position: initial;
  float: right;
  margin-top: -105px;
  width: 50%; }

.slick-dots li button:before {
  font-size: 16px; }

.slick-dots li.slick-active button:before {
  opacity: 1.0; }

.homepage-page .slick-dots li.slick-active button:before {
  color: #2e7dc1; }

.collections-page .slick-dots li.slick-active button:before {
  color: #A2302E; }

.jumbotron-slider-img {
  width: 50%;
  float: left;
  background: #eee; }

.jumbotron-slider-text {
  width: 50%;
  float: left;
  text-align: center;
  text-transform: uppercase;
  padding-left: 160px;
  padding-right: 160px; }

.homepage-page .jumbotron-slider-text {
  color: #2e7dc1; }

.collections-page .jumbotron-slider-text {
  color: #A2302E; }

.jumbotron-slider-text-subheading {
  padding-top: 80px;
  font-weight: 300;
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 1px; }

.jumbotron-slider-text-featured-collection {
  padding-bottom: 100px;
  font-size: 45px; }

.homepage-page .jumbotron-slider-text-link {
  color: #2e7dc1;
  transition: all 0.25s ease-in-out; }
  .homepage-page .jumbotron-slider-text-link:hover, .homepage-page .jumbotron-slider-text-link:active, .homepage-page .jumbotron-slider-text-link:link, .homepage-page .jumbotron-slider-text-link:focus, .homepage-page .jumbotron-slider-text-link:active:focus {
    color: #1d507c; }

.collections-page .jumbotron-slider-text-link {
  color: #A2302E;
  transition: all 0.25s ease-in-out; }
  .collections-page .jumbotron-slider-text-link:hover, .collections-page .jumbotron-slider-text-link:active, .collections-page .jumbotron-slider-text-link:link, .collections-page .jumbotron-slider-text-link:focus, .collections-page .jumbotron-slider-text-link:active:focus {
    color: #8b2927; }

.thumbnail:first-of-type {
  margin-bottom: 30px; }

.thumbnail {
  width: 100%;
  height: 275px;
  padding: 0;
  border: none; }

.thumbnail-50 {
  width: 48%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 30px;
  margin-bottom: 30px;
  float: left;
  height: 275px;
  padding: 0;
  border: none; }

.thumbnail-img {
  width: 50%;
  height: 100%;
  float: left;
  background: #777777; }

.thumbnail-caption-container {
  background: #f1f2f2;
  height: 275px; }

.thumbnail-caption {
  float: left;
  width: 50%;
  height: 100%;
  background-color: #f1f2f2;
  text-transform: uppercase;
  color: #7a7765;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center; }
  .thumbnail-caption:hover, .thumbnail-caption:active, .thumbnail-caption:focus, .thumbnail-caption:active:focus {
    color: #2e7dc1; }

.thumbnail-caption-featured-collection {
  padding-top: 0;
  margin-top: 0; }

.thumbnail-link {
  transition: all 0.25s ease-in-out; }

.homepage-page {
  background: #dedede;
  overflow: auto; }

.homepage-about {
  width: 48%;
  height: 580px;
  margin-right: 1%;
  float: left;
  background: #f1f2f2;
  padding: 60px; }

.homepage-about-heading {
  color: #2e7dc1;
  font-family: "PT Sans Narrow", sans-serif; }

.homepage-about-content {
  margin-top: 20px;
  font-size: 20px;
  line-height: 1.6; }

.homepage-thumbnails-container {
  width: 48%;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 1%;
  float: right; }

/*# sourceMappingURL=main.css.map */
