footer {
	padding-top: 80px;
	padding-bottom: 80px;
	text-align: center;
	background-color: #dedede;
	font-family: $open-sans;
	color: $taupe;

}

.footer-link {
	@include anchor-link($taupe, $dark-taupe);
}