// fonts
$pt-sans: 'PT Sans Narrow', sans-serif;
$open-sans:'Open Sans Condensed', sans-serif;

// colors
$blue: #2e7dc1;
$black: #404041;
$taupe: #7a7765;
$white: #f1f2f2;
$red: #A2302E;
$dark-blue: #1d507c;
$dark-black: #19191a;
$dark-taupe: #545245;
$dark-red: #8b2927;
$light-black: #59595a;


// transition
$transition: all 0.25s ease-in-out;

// media queries

$tablet-width: 1024px;
$tablet-height: 768px;
$mobile-landscape: 536px;
$mobile-portrait: 320px;

