
.homepage-page {
	background: #dedede;
	overflow: auto;
}


.homepage-about {
	width: 48%;
	height: 580px;
	margin-right: 1%;
	float: left;
	background: #f1f2f2;
	padding: 60px;
}


.homepage-about-heading {
	color: $blue;
	font-family: $pt-sans;
}

.homepage-about-content {
	margin-top: 20px;
	font-size: 20px;
	line-height: 1.6;
}

.homepage-thumbnails-container {
	width: 48%;
	padding-top: 0;
	padding-bottom: 0;
	margin-left: 1%;
	float: right;
}


