.stories-page {
	background-color: #dedede;
	overflow: auto;
}

.stories-jumbotron {
	background-color: #fff;
	overflow: auto;
}

.jumbotron-img-stories {
	@include mobile-large {
		width: 100%;
		float: none;
		text-align: center;
	}
	@include tablet {
		width: 100%;
		float: none;
		text-align: center;
	}
}

.stories-jumbotron-slider-text-subheading {
	color: $blue;
	margin-top: 60px;
	@include mobile-portrait {
		margin-top: 0px;
	}
	@include mobile-landscape {
		margin-top: 0px;
	}
	@include tablet-landscape {
		margin-top: 50px;
	}
}

.jumbotron-slider-text-featured-story {
	color: $blue;
	letter-spacing: 1.5px;
	margin-bottom: 15px;
	@include page-heading();
	@include mobile-portrait {
		font-size: 38px;
	}
	@include mobile-landscape {
		font-size: 38px;
	}
	@include tablet-landscape {
		font-size: 38px;
	}
}

.stories-jumbotron-slider-text {
	width: 50%;
	float: left;
	text-align: center;
	text-transform: uppercase;
	padding: 0px 75px;
	@include mobile-portrait {
		width: 100%;
		padding: 30px;
	}
	@include mobile-landscape {
		width: 100%;
		padding: 30px;
	}
	@include mobile-large {
		width: 100%;
		padding: 30px;
	}
	@include tablet {
		width: 100%;
		padding: 30px;
	}
	@include tablet-landscape {
		padding: 0 40px;
	}
}

.stories-jumbotron-summary {
	text-transform: initial;
	text-align: initial;
	padding-bottom: 15px;
	@include mobile-portrait {
		padding-bottom: 20px;
	}
	@include mobile-large {
		padding-bottom: 20px;
	}
	@include mobile-landscape {
		padding-bottom: 20px;
	}
	@include tablet {
		padding-bottom: 20px;
	}
}

.stories-thumbnail {
	@include mobile-portrait {
		margin-top: 30px;
	}
	@include mobile-landscape {
		margin-top: 30px;
	}
	@include mobile-large {
		margin-top: 30px;
	}
	@include tablet {
		width: 100%;
	}
}

.thumbnail-caption-featured-collection>a {
	font-weight: 400;
	color: #545246;
	&:hover, &:active, &:focus {
		text-decoration: none;
	}
}




